<div class="text-center p-5">
  {{name}}
</div>
<div class="text-center p-5">
  {{question}}
</div>

<div class="row center-content">
  <div class="col-sm-12" class="center" >
    <img src="../assets/images/edd.jpg" alt="">
  </div>
  <div class="col-md-12 ">
      <ul class="list-inline rating-list" *ngFor="let rate of numbers; let i= index" style="display: inline-block">
          <li (click)="countRate(rate)" id="{{'starId'+i}}" [ngClass]="{'selected': (rate <= selectedValued)}"
           (mouseover)="addColor(rate)" (mouseout)="removeColor(rate)"> {{rate}}
          </li>
      </ul>
  </div>
  <textarea matInput row="6" [(ngModel)]="enteredValue" ></textarea>
  <hr>
  <button (click)="onAddPost($envent)">Save Post</button>
  <ul>
    <li *ngFor="let person of answer"> 
      {{ person }}
    </li>
   </ul>
</div>


