.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.text-center {
  text-align: center;
  font-size: 40px;
}

div.center-content {
  display: inline-block;
  position: relative; /*Add this*/
  left: 50%; /*Add this*/
  transform: translate(-50%, 0);
  margin-top: 50px;
}

.rating-list {
  li {
    font-size: 20px;
    float: right;
    color: #ddd;
    padding: 10px 5px;
    &:hover {
      color: red;
      ~ {
        li {
          color: red;
        }
      }
    }
  }
  li.selected {
    color: red;
  }
  display: inline-block;
  list-style: none;
}
